button {
  cursor: pointer;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.page-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1, 33;

  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #2e2f42;
}
.web-logo {
  color: #4d5ae5;
}
.nav-list-link {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 33;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.tel-link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1, 33;

  letter-spacing: 0.02em;

  color: #434455;
}
.mail-link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  letter-spacing: 0.02em;

  color: #434455;
}
.modal-open-btn {
}

.footer-text {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 1, 33;
  letter-spacing: 0.02em;

  color: #f4f4fd;
}
